doctype html
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7">
<![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8">
<![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9">
<![endif]-->
<!--[if gt IE 8]><!-->
html(ng-app="poxy", ng-controller="MainCtrl", resize="").no-js <!--<![endif]-->
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title
      - bloginfo('name');
      - wp_title();

    //- script.
    //-   var disqus_shortname = 'YOURSHORTNAME'
    //-     var disqus_identifier = 'PAGEID'
    //-     var disqus_url = 'PAGEURL'
    //-     var disqus_script = 'embed.js'
    //-     (function(d,s) {
    //-     s = d.createElement('script');s.async=1;s.src = '//' + disqus_shortname + '.disqus.com/'+disqus_script;
    //-     (d.getElementsByTagName('head')[0]).appendChild(s);
    //-     })(document)


    - if ( current_user_can( 'manage_options' ) ) :

    - else :

      script(src!='<?php bloginfo("template_url"); ?>/scripts/pjax.js')

      script(type='text/javascript').
        var ngRefresh = function() {
          var scope = angular.element("#container").scope();
          var compile = angular.element("#container").injector().get('$compile');

          compile($("#container").contents())(scope);
          scope.$apply();
        }

      script(type='text/javascript').
        pjax.connect({
          'container': 'container',

          'beforeSend': function(e){
            document.getElementById('container').className = 'fade-out';
            document.getElementById('pjax-preloader').className = 'pfxy z10 fill';
            //- jQuery( "#product-menu" ).fadeOut();
            jQuery( "#pjax-preloader" ).fadeIn();
          },

          'complete': function(e){
            document.getElementById('container').className = 'fade-in';
            document.getElementById('pjax-preloader').className = 'pfxy z10 fill hide';
            jQuery(".video-container").fitVids();
            jQuery( "#pjax-preloader" ).fadeOut();
            ngRefresh();
            },
          //- 'complete': function(e){ console.log("done!"); },
          });

    - endif;


    //- .js-Pjax
    //-   //- need to be here on every pjaxified page, even if empty
    //-   //- if (blah blah) { // eventual server side test to know wheter or not you include this script
    //-   script.
    //-     var disqus_shortname = 'YOURSHORTNAME'
    //-     var disqus_identifier = 'PAGEID'
    //-     var disqus_url = 'PAGEURL'
    //-     var disqus_script = 'embed.js'
    //-     // here we will only load the disqus <script> if not already loaded
    //-     if (!window.DISQUS) {
    //-       (function(d,s) {
    //-         s = d.createElement('script');s.async=1;s.src = '//' + disqus_shortname + '.disqus.com/'+disqus_script;
    //-         (d.getElementsByTagName('head')[0]).appendChild(s);
    //-         })(document)
    //-         }
    //-         // if disqus <script> already loaded, we just reset disqus the right way
    //-         // see http://help.disqus.com/customer/portal/articles/472107-using-disqus-on-ajax-sites
    //-         else {
    //-           DISQUS.reset({
    //-           reload: true,
    //-           config: function () {
    //-           this.page.identifier = disqus_identifier
    //-           this.page.url = disqus_url
    //-         }
    //-       })
    //-     }
    //-   //- }


    meta(name="description", content="")
    meta(name="viewport", content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no")
    meta(http-equiv="cleartype", content="on")
    meta(content="yes" name="apple-mobile-web-app-capable")
    meta(name="apple-mobile-web-app-status-bar-style" content="black")

    link(rel="alternate", type="application/rss+xml", title!="<?php bloginfo('name'); ?> RSS Feed", href!="<?php bloginfo('rss2_url'); ?>")
    link(rel="alternate", type="application/atom+xml", title!="<?php bloginfo('name'); ?> Atom Feed", href!="<?php bloginfo('atom_url'); ?>")
    link(rel="pingback", href!="<?php bloginfo('pingback_url'); ?>")

    //- Place favicon.ico and apple-touch-icon.png in the root directory
    link(rel='apple-touch-icon', sizes='114x114', href='/apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/apple-touch-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/apple-touch-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/apple-touch-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/apple-touch-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/apple-touch-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon-180x180.png')
    link(rel='icon', type='image/png', href='/favicon-192x192.png', sizes='192x192')
    link(rel='icon', type='image/png', href='/favicon-160x160.png', sizes='160x160')
    link(rel='icon', type='image/png', href='/favicon-96x96.png', sizes='96x96')
    link(rel='icon', type='image/png', href='/favicon-16x16.png', sizes='16x16')
    link(rel='icon', type='image/png', href='/favicon-32x32.png', sizes='32x32')
    meta(name='msapplication-TileColor', content='#da532c')
    meta(name='msapplication-TileImage', content='/mstile-144x144.png')

    //- Main Style Sheet
    link(rel="stylesheet", href!="<?php bloginfo('stylesheet_url'); ?>", type="text/css", media="screen")
    //- link(rel="stylesheet", href!="<?php bloginfo('template_url'); ?>/styles/vendor.css", type="text/css", media="screen")
    link(rel="stylesheet", href!="<?php bloginfo('template_url'); ?>/styles/main.css", type="text/css", media="screen")

    //- pull in css based on angular
    link(rel="stylesheet", ng-href!="<?php echo get_bloginfo('template_url'); ?>/styles/poxy-{{current_zone}}.css", type="text/css", media="screen")
    //- link(rel="stylesheet", ng-href!="<?php echo get_bloginfo('template_url'); ?>/styles/skins/skin-{{ layout }}.min.css", type="text/css", media="screen")

    script(src='//use.typekit.net/sha5pul.js')
    script.
      try{Typekit.load();}catch(e){}



    //- script(type='text/javascript').
    //-   (function() {
    //-     var path = '//easy.myfonts.net/v2/js?sid=99266(font-family=Futura+PT+Light)&sid=99268(font-family=Futura+PT+Book)&sid=99270(font-family=Futura+PT+Medium)&sid=172341(font-family=Futura+PT+Bold)&key=SYzjDz0wNb',
    //-     protocol = ('https:' == document.location.protocol ? 'https:' : 'http:'),
    //-     trial = document.createElement('script');
    //-     trial.type = 'text/javascript';
    //-     trial.async = true;
    //-     trial.src = protocol + path;
    //-     var head = document.getElementsByTagName("head")[0];
    //-     head.appendChild(trial);
    //-     })();

    - wp_head();

  body#fluidDiv.rel
    <!--[if lt IE 7]>
    p.browsehappy
      | You are using an
      strong outdated
      |  browser. Please
      a(href="http://browsehappy.com/") upgrade your browser
      |  to improve your experience.
    <![endif]-->

    //- Add your site or application content here
    #pjax-preloader.pfxy.z10.fill.hide

    - get_template_part( 'part-nav' );
    //- .container(ng-view)
    #container.container

      - $post_type = get_post_type( get_the_ID() );



      - if (is_archive()) :
        - if (is_tax()) :
          - $tax_type = $wp_query->tax_query->queries[0]['taxonomy'];
          - get_template_part( 'template-taxonomy-'. $tax_type );
        - else :
          - get_template_part( 'template-archive' );
        - endif;
      - elseif (is_single()) :
        - get_template_part( 'template-single-'. $post_type );
      - elseif (is_page()) :
        - $slug = poxy_slug();
        - get_template_part( 'template-'. $slug );
      - elseif (is_search()) :
        - get_template_part( 'templates/search' );
      - elseif (is_404()) :
        - get_template_part( 'template-404' );
      - else :
        - get_template_part( 'template-blog' );
      - endif;



    - get_template_part( 'part-footer' );
    //- - get_template_part( 'modal-window' );
    - get_template_part( 'modal-window-menu' );

    //- h1.bfxy.accent.z10 Width: {{width}}

    script(src='http://maps.google.com/maps/api/js')
    script(src!='<?php bloginfo("template_url"); ?>/scripts/vendor.js')
    script(src!='<?php bloginfo("template_url"); ?>/scripts/scripts.js')
    script(src!='<?php bloginfo("template_url"); ?>/scripts/main.js')

    //- script(type='text/javascript', src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js')
    //- script(type='text/javascript').
    //-   (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[0]='EMAIL';ftypes[0]='email';fnames[3]='MMERGE3';ftypes[3]='phone';fnames[6]='MMERGE6';ftypes[6]='text';fnames[4]='MMERGE4';ftypes[4]='dropdown';fnames[5]='MMERGE5';ftypes[5]='text';}(jQuery));var $mcj = jQuery.noConflict(true);

    script(type='text/javascript', src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js')
    script(type='text/javascript').
      (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);

    //- Google Analytics: change UA-XXXXX-X to be your site's ID
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-29832102-1');
      ga('send', 'pageview');

    <!--[if lt IE 9]>
    script(src="bower_components/es5-shim/es5-shim.js")
    script(src="bower_components/json3/lib/json3.min.js")
    <![endif]-->

    - wp_footer();
